body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */

}

#chat {
    width: 100%;
    height: 380px;
    border: 1px solid black;
    overflow-y: auto;
    padding: 10px;
}